In [1]:
import pandas

In [2]:
teploty = pandas.read_csv ("temperature.csv")

In [5]:
print(teploty.head(10))

   Region  Country     City  Day  AvgTemperature
0  Africa  Algeria  Algiers    1            62.0
1  Africa  Algeria  Algiers    2            62.2
2  Africa  Algeria  Algiers    3            65.7
3  Africa  Algeria  Algiers    4            69.8
4  Africa  Algeria  Algiers    5            63.8
5  Africa  Algeria  Algiers    6            61.5
6  Africa  Algeria  Algiers    7            56.2
7  Africa  Algeria  Algiers    8            55.3
8  Africa  Algeria  Algiers    9            52.6
9  Africa  Algeria  Algiers   10            52.9

In [6]:
vysoka_teplota = teploty[teploty["AvgTemperature"] > 80]
print(vysoka_teplota[["Country", "AvgTemperature"]])

     Country  AvgTemperature
30     Benin            81.7
31     Benin            81.8
32     Benin            83.6
33     Benin            83.4
34     Benin            80.3
...      ...             ...
8011      US            80.8
8012      US            81.1
8015      US            80.5
8042      US            80.2
8074      US            80.1

[722 rows x 2 columns]

In [7]:
teplota_eu = teploty[(teploty["AvgTemperature"] > 60) & (teploty["Region"] == "Europe")]
print(teplota_eu[["Country", "AvgTemperature"]])

       Country  AvgTemperature
1932   Albania            60.3
2402     Italy            62.2
2404     Italy            60.4
2580  Portugal            62.5
2581  Portugal            63.2
2582  Portugal            61.1
2583  Portugal            61.6
2602  Portugal            64.2
2603  Portugal            62.6
2701     Spain            63.8
2702     Spain            63.1
2703     Spain            63.5
2704     Spain            61.6
2730     Spain            62.9
2731     Spain            66.3
2732     Spain            63.8
2751     Spain            62.7
2752     Spain            69.5
2753     Spain            62.5

In [8]:
print(teploty[(teploty["AvgTemperature"] > 80) | (teploty["AvgTemperature"] < -20)])

             Region Country             City  Day  AvgTemperature
30           Africa   Benin          Cotonou    1            81.7
31           Africa   Benin          Cotonou    2            81.8
32           Africa   Benin          Cotonou    3            83.6
33           Africa   Benin          Cotonou    4            83.4
34           Africa   Benin          Cotonou    5            80.3
...             ...     ...              ...  ...             ...
8011  North America      US      Brownsville    2            80.8
8012  North America      US      Brownsville    3            81.1
8015  North America      US      Brownsville    6            80.5
8042  North America      US   Corpus Christi    3            80.2
8074  North America      US  Dallas Ft Worth    5            80.1

[772 rows x 5 columns]

In [1]:
import pytemperature

In [12]:
teploty["AvgTemperatureCelsia"] = pytemperature.f2c(teploty["AvgTemperature"])
print (teploty)

             Region  Country      City  Day  AvgTemperature  \
0            Africa  Algeria   Algiers    1            62.0
1            Africa  Algeria   Algiers    2            62.2
2            Africa  Algeria   Algiers    3            65.7
3            Africa  Algeria   Algiers    4            69.8
4            Africa  Algeria   Algiers    5            63.8
...             ...      ...       ...  ...             ...
8785  North America       US  Cheyenne   26            51.7
8786  North America       US  Cheyenne   27            55.5
8787  North America       US  Cheyenne   28            38.5
8788  North America       US  Cheyenne   29            36.8
8789  North America       US  Cheyenne   30            36.9

      AvgTemperatureCelsia
0                    16.67
1                    16.78
2                    18.72
3                    21.00
4                    17.67
...                    ...
8785                 10.94
8786                 13.06
8787                  3.61
8788                  2.67
8789                  2.72

[8790 rows x 6 columns]

BONUS č. 1

In [4]:
import pytemperature

teploty["AvgTemperatureCelsia"] = pytemperature.f2c(teploty["AvgTemperature"])
print(teploty)

             Region  Country      City  Day  AvgTemperature  \
0            Africa  Algeria   Algiers    1            62.0
1            Africa  Algeria   Algiers    2            62.2
2            Africa  Algeria   Algiers    3            65.7
3            Africa  Algeria   Algiers    4            69.8
4            Africa  Algeria   Algiers    5            63.8
...             ...      ...       ...  ...             ...
8785  North America       US  Cheyenne   26            51.7
8786  North America       US  Cheyenne   27            55.5
8787  North America       US  Cheyenne   28            38.5
8788  North America       US  Cheyenne   29            36.8
8789  North America       US  Cheyenne   30            36.9

      AvgTemperatureCelsia
0                    16.67
1                    16.78
2                    18.72
3                    21.00
4                    17.67
...                    ...
8785                 10.94
8786                 13.06
8787                  3.61
8788                  2.67
8789                  2.72

[8790 rows x 6 columns]

Teplota vyššia ako 30°C

In [6]:
nad_30_C = teploty[teploty["AvgTemperatureCelsia"] > 30]
print(nad_30_C)

                                 Region     Country             City  Day  \
421                              Africa  Mauritania       Nouakchott    2
430                              Africa  Mauritania       Nouakchott   11
510                              Africa     Nigeria           Niamey    1
526                              Africa     Nigeria           Niamey   17
527                              Africa     Nigeria           Niamey   18
528                              Africa     Nigeria           Niamey   19
930                                Asia       India  Bombay (Mumbai)    1
931                                Asia       India  Bombay (Mumbai)    2
935                                Asia       India  Bombay (Mumbai)    6
1247                               Asia        Laos        Vientiane   18
3990  South/Central America & Carribean       Haiti   Port au Prince    1
4111  South/Central America & Carribean    Suriname       Paramaribo    2

      AvgTemperature  AvgTemperatureCelsia
421             87.4                 30.78
430             87.1                 30.61
510             86.9                 30.50
526             86.3                 30.17
527             86.6                 30.33
528             86.6                 30.33
930             86.6                 30.33
931             86.4                 30.22
935             86.8                 30.44
1247            86.3                 30.17
3990            86.1                 30.06
4111            88.0                 31.11

Vyššia ako 15°C v regióne Europa

In [7]:
teplota_nad_15_eu = teploty[(teploty["AvgTemperatureCelsia"] > 15) & (teploty["Region"] == "Europe")]
print(teplota_nad_15_eu[["Region", "AvgTemperatureCelsia"]])

      Region  AvgTemperatureCelsia
1932  Europe                 15.72
2221  Europe                 15.11
2402  Europe                 16.78
2404  Europe                 15.78
2424  Europe                 15.17
2580  Europe                 16.94
2581  Europe                 17.33
2582  Europe                 16.17
2583  Europe                 16.44
2590  Europe                 15.06
2592  Europe                 15.17
2602  Europe                 17.89
2603  Europe                 17.00
2700  Europe                 15.06
2701  Europe                 17.67
2702  Europe                 17.28
2703  Europe                 17.50
2704  Europe                 16.44
2730  Europe                 17.17
2731  Europe                 19.06
2732  Europe                 17.67
2751  Europe                 17.06
2752  Europe                 20.83
2753  Europe                 16.94

Viac ako 30°C a menej ako -10°C

In [8]:
print(teploty[(teploty["AvgTemperatureCelsia"] > 30) | (teploty["AvgTemperatureCelsia"] < -10)])

             Region   Country         City  Day  AvgTemperature  \
168          Africa  Ethiopia  Addis Ababa   19           -99.0
212          Africa    Gambia       Banjul    3           -99.0
213          Africa    Gambia       Banjul    4           -99.0
214          Africa    Gambia       Banjul    5           -99.0
215          Africa    Gambia       Banjul    6           -99.0
...             ...       ...          ...  ...             ...
6455  North America        US  Great Falls    6             7.5
6485  North America        US       Helena    6            13.1
6486  North America        US       Helena    7             8.7
7088  North America        US        Fargo    9            12.7
7089  North America        US        Fargo   10            13.1

      AvgTemperatureCelsia
168                 -72.78
212                 -72.78
213                 -72.78
214                 -72.78
215                 -72.78
...                    ...
6455                -13.61
6485                -10.50
6486                -12.94
7088                -10.72
7089                -10.50

[127 rows x 6 columns]