In [52]:
import pandas

In [53]:
adopcia = pandas.read_csv ("adopce-zvirat.txt")
adopcia

        id;nazev_cz;nazev_en;trida_cz;cena;k_prohlidce
0    7;"Šváb syčivý";"Madagascar giant cockroach ";...
1    8;"Pakobylka okřídlená";"Pink-winged stick ins...
2                    16;"Tayra";"Tayra";"Savci";5000;1
3    35;"Kajmanka supí";"Alligator snapping turtle"...
4    37;"Želva žlutočelá";"Indochinese box turtle";...
..                                                 ...
508  1417;"Rosnice šalamounská";" ";"Obojživelníci"...
509   1418;"Létavka obecná";" ";"Obojživelníci";1000;1
510              1419;"Bažant paví";" ";"Ptáci";1000;1
511      1420;"Sojkovec rezavouchý";" ";"Ptáci";1000;1
512       1421;"Kachnice kaštanová";" ";"Ptáci";1000;1

[513 rows x 1 columns]

In [54]:
adopcia = pandas.read_csv('adopce-zvirat.txt', sep=';')
print(adopcia)

       id             nazev_cz                     nazev_en       trida_cz  \
0       7          Šváb syčivý  Madagascar giant cockroach      Bezobratlí
1       8  Pakobylka okřídlená     Pink-winged stick insect     Bezobratlí
2      16                Tayra                        Tayra          Savci
3      35        Kajmanka supí    Alligator snapping turtle          Plazi
4      37      Želva žlutočelá       Indochinese box turtle          Plazi
..    ...                  ...                          ...            ...
508  1417  Rosnice šalamounská                               Obojživelníci
509  1418       Létavka obecná                               Obojživelníci
510  1419          Bažant paví                                       Ptáci
511  1420  Sojkovec rezavouchý                                       Ptáci
512  1421   Kachnice kaštanová                                       Ptáci

     cena  k_prohlidce
0    1000            1
1    1000            1
2    5000            1
3    2000            1
4    1000            1
..    ...          ...
508  1000            1
509  1000            1
510  1000            1
511  1000            1
512  1000            1

[513 rows x 6 columns]

In [55]:
adopcia.iloc[33]

id                       98
nazev_cz          Ibis rudý
nazev_en       Scarlet ibis
trida_cz              Ptáci
cena                   3000
k_prohlidce               1
Name: 33, dtype: object

In [56]:
adopcia.columns

Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

In [51]:
print(adopcia.iloc[33:34,:2])

   id;nazev_cz;nazev_en;trida_cz;cena;k_prohlidce
33   98;"Ibis rudý";"Scarlet ibis";"Ptáci";3000;1