In [4]:
import pandas

In [5]:
teploty = pandas.read_csv ("temperature.csv")

In [3]:
print(teploty.head(10))

   Region  Country     City  Day  AvgTemperature
0  Africa  Algeria  Algiers    1            62.0
1  Africa  Algeria  Algiers    2            62.2
2  Africa  Algeria  Algiers    3            65.7
3  Africa  Algeria  Algiers    4            69.8
4  Africa  Algeria  Algiers    5            63.8
5  Africa  Algeria  Algiers    6            61.5
6  Africa  Algeria  Algiers    7            56.2
7  Africa  Algeria  Algiers    8            55.3
8  Africa  Algeria  Algiers    9            52.6
9  Africa  Algeria  Algiers   10            52.9

In [9]:
vysoka_teplota = teploty[teploty["AvgTemperature"] > 80]
print(vysoka_teplota[["Country", "AvgTemperature"]])

     Country  AvgTemperature
30     Benin            81.7
31     Benin            81.8
32     Benin            83.6
33     Benin            83.4
34     Benin            80.3
...      ...             ...
8011      US            80.8
8012      US            81.1
8015      US            80.5
8042      US            80.2
8074      US            80.1

[722 rows x 2 columns]

In [24]:
teplota_eu = teploty[(teploty["AvgTemperature"] > 60) & (teploty["Region"] == "Europe")]
print(teplota_eu[["Country", "AvgTemperature"]])

       Country  AvgTemperature
1932   Albania            60.3
2402     Italy            62.2
2404     Italy            60.4
2580  Portugal            62.5
2581  Portugal            63.2
2582  Portugal            61.1
2583  Portugal            61.6
2602  Portugal            64.2
2603  Portugal            62.6
2701     Spain            63.8
2702     Spain            63.1
2703     Spain            63.5
2704     Spain            61.6
2730     Spain            62.9
2731     Spain            66.3
2732     Spain            63.8
2751     Spain            62.7
2752     Spain            69.5
2753     Spain            62.5

In [6]:
print(teploty[(teploty["AvgTemperature"] > 80) | (teploty["AvgTemperature"] < -20)])

             Region Country             City  Day  AvgTemperature
30           Africa   Benin          Cotonou    1            81.7
31           Africa   Benin          Cotonou    2            81.8
32           Africa   Benin          Cotonou    3            83.6
33           Africa   Benin          Cotonou    4            83.4
34           Africa   Benin          Cotonou    5            80.3
...             ...     ...              ...  ...             ...
8011  North America      US      Brownsville    2            80.8
8012  North America      US      Brownsville    3            81.1
8015  North America      US      Brownsville    6            80.5
8042  North America      US   Corpus Christi    3            80.2
8074  North America      US  Dallas Ft Worth    5            80.1

[772 rows x 5 columns]